#supreme {
  color: azure;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  cursor: url(https://cdn.custom-cursor.com/db/8118/32/material-maki-cursor.png) 1 1, auto !important;
}


#supreme a,
#supreme button {
  cursor: url(https://cdn.custom-cursor.com/db/8117/32/material-maki-pointer.png) 1 1, auto !important;
}


#supreme::before {
  content: '';
  background-color: rgb(41, 42, 45);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;

}

body {
  overflow-x: hidden;
}

#supreme.light {
  color: rgb(41, 42, 45);
}

#supreme.light::before {
  background-color: aquamarine;
}

.px {
  height: 125px;
}